:host {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0 10px;
  padding: 0 .85em;
  border-radius: 3px;
  -webkit-user-select: none;
  color: #ffffff;
  background: #298eea;
  cursor: pointer;
  border-color: #298eea;
  height: 3em;
  line-height: 3em;
  font-size: inherit; }

:host(:hover) {
  background: #2180d7;
  color: #ffffff; }

:host(:focus) {
  outline: 0;
  box-shadow: 0 0 0 1px white, 0 0 2px 2px #298eea; }

:host(.is-spinning) {
  background: #2180d7; }

  .spinner {
    position: absolute;
    background-color: inherit;
    transition: 200ms all ease-in-out;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    bottom: 0; }

  :host(.is-spinning) .spinner { 
    opacity: 1 }

    .spinner::before {
      content: '';
      margin-top: -5px;
      vertical-align: middle;
      border-radius: 100%;
      border: 2px solid #dfdfdf;
      animation: rotate 0.75s 0s linear infinite;
      height: 1em;
      width: 1em;
      display: inline-block;
      animation-fill-mode: both;
      border-color: white;
      border-bottom-color: transparent; }

@keyframes rotate {
  0%   { transform: rotate(0deg)   }
  50%  { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}